.help-modal{
    width:700px;
    max-height:80vh;
    overflow-y:auto;
}

.about-modal{
    width:520px;
}

.shortcut-table{

    width:100%;
    border-collapse:collapse;
    margin-top:20px;

}

.shortcut-table th,
.shortcut-table td{

    border:1px solid #ddd;
    padding:10px;

}

.shortcut-table th{

    background:#4e1d7c;
    color:white;

}

.about-table{

    width:100%;
    margin-top:15px;

}

.about-table td{

    padding:8px;

}

.about-subtitle{

    text-align:center;
    color:#666;

}